/* Enter your custom CSS here */

/*
Zettlr-City a
Zettlr CSS custom template 
modification of
Zettlr CSS custom template 
"joaquina" v1.2 17/02/2022
*/

/*---COULEURS DE BASE---*/
:root {
  --c-primary: #0066ff; 
  --c-primary-shade: #0099ff; 
  --c-primary-contrast: #fcfcfc;
  --c-primary-background: #fcfcfc;
  --c-primary-bg-dark: #0a0a0f;
}

/*---POLICES---*/
body.win32 {font-family: 'Inter Regular', inter;}
#editor * {font-family: 'Inter Regular', 'Inter Regular', inter;}


.CodeMirror .size-header-2 {font-size: 1.6em}
.CodeMirror .size-header-3 {font-size: 1.3em}
.CodeMirror .size-header-4 {font-size: 1em}

/*---MENUS ET BORDURES---*/
body.win32 #menubar {background-color: var(--c-primary-background); color: #646464;}
body.win32 div#toolbar {background-color: var(--c-primary-background)}
body.win32 div#window-content {padding: 0px;}

body.dark #menubar { background-color: var(--c-primary-bg-dark)}
body.win32.dark div#toolbar {background-color: var(--c-primary-bg-dark); color: #646464;}
body.win32.dark div#toolbar button {color: #646464;}
body.win32 input, body.win32 select, body.win32 textarea, body.win32 button {padding: 6px 8px}
body.dark #editor {background-color: var(--c-primary-bg-dark)}
body.dark {color: grey}

/*---outils fenêtre---*/
body.win32 div#window-controls .minimise, body.win32 div#window-controls .resize, body.win32 div#window-controls .close { fill: #c8c8c8}

/*---ONGLETS---*/
body.win32 div#tab-container div[role="tab"].active { font-weight: bold; background-color: white; color: #000000;}
body.win32.dark div#tab-container div[role="tab"].active { font-weight: bold; background-color: var(--c-primary-bg-dark); color: #fefefe;}
body div#tab-container {background-color: var(--c-primary-background)}
body.win32 div#tab-container div[role="tab"]:not(:last-child) { border-right: 1px solid var(--c-primary-background);}
body.win32.dark div#tab-container {background-color: #000000;}
body.win32.dark div#tab-container div[role="tab"]:not(:last-child) { border-right: 1px solid var(--c-primary-bg-dark);}

/*---BARRES LATERALES---*/
body.win32 #file-tree {background-color: var(--c-primary-background);}
body #sidebar {background-color: var(--c-primary-background);}
body.win32.dark #file-tree {background-color: var(--c-primary-bg-dark)}
body.dark #sidebar {background-color: var(--c-primary-bg-dark);color: #c8c8c8;}

/*---MODE NUIT, COULEURS---*/
body.win32.dark input, body.win32.dark select, body.win32.dark textarea, body.win32.dark button {background-color: var(--c-primary-bg-dark); color: #646464;}
body.win32 input, body.win32 select, body.win32 textarea, body.win32 button {
border-color: var(--c-primary-background)}
body.win32.dark input, body.win32.dark select, body.win32.dark textarea, body.win32.dark button {border-color: var(--c-primary-bg-dark)}
body.win32.dark .system-tablist .system-tab.active {background-color: #14141e;}
body div.split-view div.view.view-border {border-color: var(--c-primary-background)}
body.dark div.split-view div.view.view-border {border-color: var(--c-primary-bg-dark)}

/*---ENLEVER LES BARRES DE DEFILEMENT---*/
body:not(.darwin) ::-webkit-scrollbar {display: none;}
body:not(.darwin).dark ::-webkit-scrollbar {display: none;}

/*---TAILLE DU TEXTE COLONNE DROITE---*/
html {cursor: default; font-size: var(--base-font-size, 12px);}
body #sidebar div.toc-entry-container {display: flex; margin-bottom: 5px;}

/*--citations--*/
body #editor .CodeMirror .code-block-line {background-color: #fcfcfc}
body.dark #editor .CodeMirror .code-block-line {background-color: #14141e}

/*---TYPEWRITER---*/
body #editor .CodeMirror .CodeMirror-linebackground.typewriter-active-line, body .quicklook .body .CodeMirror .CodeMirror-linebackground.typewriter-active-line, body .dialog .CodeMirror .CodeMirror-linebackground.typewriter-active-line {
  border-top: 1px solid #f6f6f6;
  border-bottom: 1px solid #f6f6f6;
  background-color: #f6f6f6;}
body.dark #editor .CodeMirror .CodeMirror-linebackground.typewriter-active-line, body.dark .quicklook .body .CodeMirror .CodeMirror-linebackground.typewriter-active-line, body.dark .dialog .CodeMirror .CodeMirror-linebackground.typewriter-active-line {
  border-top: 0px solid #17202a;
  border-bottom: 0px solid #17202a;
  background-color: #17202a;}
